:root {
  --main-title-color: #fff;
  --secondary-title-color: #303030;
  --accent-color: #ff6c00;
  --secondaru-font: "Raleway", sans-serif;
  --basic-margin: 20px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding: 84px 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.title {
  font-family: var(--secondaru-font);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.subtitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.subtitle::before {
  display: block;
  width: 60px;
  height: 1px;
  background-color: currentColor;
  content: "";
  margin-right: 20px;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  min-width: 160px;
  background: transparent;
  color: #fff;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  padding: 12px 20px;
  transition: color 0.35s linear, background-color 0.35s linear;
}
.btn:is(:hover, ::before) {
  color: #fff;
  background-color: var(--accent-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*---------header------ */

/* ----------about----------- */
